body {
    background-image: url("../img/nodes.jpg");
    background-repeat: no-repeat;
    font-family: 'Fira Sans', Roboto, 'Open Sans', sans-serif;
}

.row {
    padding: 40px;
}

.label {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

/*add a colon after span.label*/
.info .label:after {
    content: ":";
}

.next-steps {
    background-color: #15253c;
    color: #ffffff;
    padding: 20px 15px;
}

.next-steps ol {
    padding-left: 15px;
}

.next-steps .label {
    margin-top: auto;
    font-size: 22px;
}

.map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.map-label {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.hero-img {
    margin: 15px;
}

h1 {
    margin-bottom: 40px;
}